version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: logistics-supply-demand-analysis-v2
    ports:
      - "${FLASK_RUN_PORT}:8080"
    env_file:
      - .env
    restart: always
